<template>
  <div class="absolute inset-0 home -z-10">
    <CoverMovie />
    <!-- movie display section -->
    <div class="w-full bg-grey">
      <h3 class="pt-6 ml-4 text-2xl text-left text-white">Most Popular</h3>
      <div class="flex space-x-4 overflow-x-scroll overflow-y-hidden">
        <PopularMovies />
      </div>
      <h3 class="pt-6 ml-4 text-2xl text-left text-white">Trending</h3>
      <div class="flex space-x-4 overflow-x-scroll overflow-y-hidden">
        <TrendingMovies />
      </div>
      <h3 class="pt-6 ml-4 text-2xl text-left text-white">Top Rated</h3>
      <div class="flex space-x-4 overflow-x-scroll overflow-y-hidden">
        <TopRated />
      </div>
    </div>
  </div>
</template>

<script>
import CoverMovie from "@/components/CoverMovie.vue";
import PopularMovies from "@/components/PopularMovies.vue";
import TrendingMovies from "@/components/TrendingMovies.vue";
import TopRated from "@/components/TopRated.vue";
export default {
  name: "Home",
  components: {
    CoverMovie,
    PopularMovies,
    TrendingMovies,
    TopRated,
  },
};
</script>
