<template>
  <div :key="movieData.id">
    <div
      v-if="movieData.backdrop_path"
      :style="{
        backgroundImage: `url(${baseImgUrl}/w500${movieData.backdrop_path})`,
      }"
      class="relative h-screen px-8 text-left text-white bg-scroll bg-center bg-no-repeat bg-cover hero"
    >
      <div class="absolute inset-0 bg-black bg-opacity-20"></div>
      <div class="absolute mt-48">
        <h1 class="mb-3 text-4xl font-semibold lg:mb-5 lg:text-7xl xl:text-9xl">
          {{ movieData.title }}
        </h1>
        <p class="max-w-6xl mb-4 lg:text-2xl lg:mb-6">
          {{ movieData.overview }}
        </p>
        <p class="max-w-6xl mb-4 lg:text-xl lg:mb-6">
          <label class="mr-4 lg:text-sm">release:</label>
          <time
            :datetime="movieData.release_date"
            v-text="movieData.release_date"
          ></time>
        </p>
        <div>
          <button
            class="px-4 py-3 mr-6 font-bold text-center text-gray-800 transition duration-300 ease-in-out bg-white rounded-lg hover:bg-gray-300"
          >
            Play
          </button>
          <button
            class="px-4 py-3 mr-6 font-bold text-center text-white transition duration-300 ease-in-out bg-gray-400 rounded-lg hover:bg-white hover:text-gray-800"
          >
            More Info
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import MovieService from "../../Services/MovieService.js";
export default {
  setup() {
    const baseImgUrl = ref("https://image.tmdb.org/t/p");
    const movieData = ref([]);
    async function loadData() {
      try {
        const moviedata = await MovieService.getPopularMovies();
        // const moviedata = await MovieService.getTopMovies();
        // const moviedata = await MovieService.getTrendingMovies();
        movieData.value = moviedata.data.results[0];
        // console.log(movieData.value);
      } catch (err) {
        console.log(err);
      }
    }
    loadData();
    return { baseImgUrl, movieData };
  },
};
</script>