<template>
  <div class="fixed w-full">
    <!-- <nav class="z-10 bg-blue-900 bg-opacity-90 lg:block"> -->
    <nav class="relative z-10 lg:block">
      <div class="absolute inset-0 bg-black bg-opacity-80 -z-10"></div>
      <ul class="flex items-center p-4 space-x-5 lg:space-x-8">
        <li class="text-3xl font-bold text-red-600">VueFlix</li>
        <li v-for="link in navLinks" :key="link.name">
          <router-link
            :to="{ name: link.name }"
            class="text-sm font-bold text-white transition duration-300 ease-in-out lg:text-base hover:text-blue-200"
            :active-class="'text-blue-200'"
          >
            {{ link.name }}
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  setup() {
    const navLinks = ref({
      Home: {
        name: "Home",
        href: "/",
      },
      TvShows: {
        name: "Shows",
        href: "/shows",
      },
      Series: {
        name: "Series",
        href: "/series",
      },
    });
    return { navLinks };
  },
};
</script>