<template>
  <div
    v-for="(movie, id) in moviesData"
    :key="id"
    class="flex items-center justify-center flex-shrink-0 w-1/2 max-w-sm mx-auto my-8"
  >
    <div
      v-if="movie.backdrop_path"
      :style="{
        backgroundImage: `url(${baseImgUrl}/w500${movie.backdrop_path})`,
      }"
      class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"
    ></div>
  </div>
</template>

<script>
import { ref } from "vue";
import MovieService from "../../Services/MovieService.js";
export default {
  setup() {
    const baseImgUrl = ref("https://image.tmdb.org/t/p");
    const moviesData = ref([]);
    async function loadData() {
      try {
        const moviedata = await MovieService.getPopularMovies();
        moviesData.value = moviedata.data.results;
        // console.log(moviesData.value);
      } catch (err) {
        console.log(err);
      }
    }
    loadData();
    return { baseImgUrl, moviesData };
  },
};
</script>